## Some Calls On My FinancialAnalysis Methods

In [1]:
from FinancialAnalysis import FinancialAnalysis

import warnings
warnings.filterwarnings('ignore')

In [2]:
# make stocks FA objects
tsla = FinancialAnalysis('TSLA','^GSPC') # Tesla
baba = FinancialAnalysis('BABA','^GSPC') # Alibaba
fb = FinancialAnalysis('FB','^GSPC')     # Facebook
aapl = FinancialAnalysis('AAPL','^GSPC') # Apple
amzn = FinancialAnalysis('AMZN','^GSPC') # Amazon
nflx = FinancialAnalysis('NFLX','^GSPC') # Netflix
goog = FinancialAnalysis('GOOG','^GSPC') # Google

In [3]:
# Amazon's 5-year beta
round(amzn.beta(), 4)

1.3218

In [4]:
# the expected return on Amazon's assets as per CAPM (theoretical)
round(amzn.capm(), 4)

0.1354

In [5]:
# Apple's divident payments over the last 5-years
aapl.div_history()

            Dividends
Date
2015-05-07       0.52
2015-08-06       0.52
2015-11-05       0.52
2016-02-04       0.52
2016-05-05       0.57
2016-08-04       0.57
2016-11-03       0.57
2017-02-09       0.57
2017-05-11       0.63
2017-08-10       0.63
2017-11-10       0.63
2018-02-09       0.63
2018-05-11       0.73
2018-08-10       0.73
2018-11-08       0.73
2019-02-08       0.73
2019-05-10       0.77
2019-08-09       0.77
2019-11-07       0.77
2020-02-07       0.77

In [6]:
# Apple's dividend growth rate over the last 5-years
round(aapl.div_growth(), 4)

0.0218

In [7]:
# the fair price of Apple according to the dividend discount model, if only.
round(aapl.ddm(), 4)

28.7425

In [8]:
# expected return on Tesla according to the earnings-based approach.
round(tsla.alt_rs('earnings-based'), 4)

-0.0064

In [9]:
# the % return on 10 Tesla shares bought for $300 with $20 in transaction costs
round(tsla.roi(300, 20, 10, 'percent'), 2)

153.59

In [10]:
# the number of days it would take to liquidate 1,500,000 Netflix share assuming you can capture 20% of the 3-month average daily trade volume
round(nflx.d2l(1500000), 1)

1.1

In [11]:
# Amazon's stock info
amzn.info

{'language': 'en-US',
 'region': 'US',
 'quoteType': 'EQUITY',
 'triggerable': True,
 'quoteSourceName': 'Nasdaq Real Time Price',
 'currency': 'USD',
 'exchange': 'NMS',
 'shortName': 'Amazon.com, Inc.',
 'longName': 'Amazon.com, Inc.',
 'messageBoardId': 'finmb_18749',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'firstTradeDateMilliseconds': 863683200000,
 'priceHint': 2,
 'regularMarketChange': 15.27002,
 'regularMarketChangePercent': 0.71558875,
 'regularMarketTime': 1581431723,
 'regularMarketPrice': 2149.18,
 'regularMarketDayHigh': 2154.32,
 'regularMarketDayRange': '2143.445 - 2154.32',
 'regularMarketDayLow': 2143.445,
 'regularMarketVolume': 489782,
 'regularMarketPreviousClose': 2133.91,
 'bid': 2153.0,
 'ask': 2148.95,
 'bidSize': 13,
 'askSize': 8,
 'fullExchangeName': 'NasdaqGS',
 'financialCurrency': 'USD',
 'regularMarketOpen': 2150.9,
 'averageDailyVolume3Month': 3541340,
 'averageDailyVolume10Day': 4815166,
 'fiftyTwoWeekLowChange': 562.61,
 'fiftyTwoWeekLowChangePercent': 0.35460773,
 'fiftyTwoWeekRange': '1586.57 - 2154.32',
 'fiftyTwoWeekHighChange': -5.1401367,
 'fiftyTwoWeekHighChangePercent': -0.002385967,
 'fiftyTwoWeekLow': 1586.57,
 'fiftyTwoWeekHigh': 2154.32,
 'earningsTimestamp': 1580418060,
 'earningsTimestampStart': 1587653940,
 'earningsTimestampEnd': 1588003200,
 'trailingPE': 93.40199,
 'marketState': 'REGULAR',
 'epsTrailingTwelveMonths': 23.01,
 'epsForward': 40.23,
 'sharesOutstanding': 498000000,
 'bookValue': 124.618,
 'fiftyDayAverage': 1907.323,
 'fiftyDayAverageChange': 241.85693,
 'fiftyDayAverageChangePercent': 0.1268044,
 'twoHundredDayAverage': 1812.2583,
 'twoHundredDayAverageChange': 336.92163,
 'twoHundredDayAverageChangePercent': 0.1859126,
 'marketCap': 1069883195392,
 'forwardPE': 53.42232,
 'priceToBook': 17.246143,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'tradeable': True,
 'symbol': 'AMZN'}